body {
    margin: 0;
    background-color: #222;
}

h1, h2, h3, h4, h5, h6, p {
    color: #f8f8f8;
}

p {
    color: #f6f6f6;
}

.content_wrapper {
    width: 100%;
    box-sizing: border-box;
    max-width: 1230px;
    padding: 0 8px;
    margin: 0 auto;
}

.wrapper {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0 8px;
    margin: 0 auto;
}